<div class="full-page">
  <div class="toolbar_view--toolbar--2396w">
    <p class="val">{{title}}</p>
    <p class="center-text">Test Task for Middle Developers</p>
  </div>
  <form class="side-screen">
    <!-- <mat-form-field appearance="legacy">
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field> -->
    <input class="input-box" type="text" name="value" [(ngModel)]="inputValue" (ngModelChange)=getValue($event)>
    <button class="add-message" (click)="sendMessage()">Send</button>
    <emoji-mart (emojiClick)="addEmoji($event)" aria-disabled="notShow"></emoji-mart>
  </form>
  <div class="show-array">
    <div *ngFor="let item of messages">
      <p class="time">{{item.time}}</p>
      <p class="value">{{item.message}}</p>
    </div>
  </div>
</div>
